hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: 1px dashed #aaa;
}

.loading {
	background: url(/loading.gif) center no-repeat #fff;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	position: fixed;
	color: darkblue;
	text-align: center;
}

.pin-name {
	display: inline-block;
	width: 70%;
    padding: 0 3px;
}

.pin-selector {
	display: inline-block;
	width: 20%;
}

.mode-name {
	display: inline-block;
	width: 50%;
}

.mode-selector {
	display: inline-block;
	float: right;
	width: 40%;
	color: black;
	font-size: 0.6em;
}

.mode-badge {
	display: inline-block;
	float: right;
	width: 40%;
	background-color: white;
}

.glyphicon-ok-circle {
	color: green;
}

.glyphicon-remove-circle {
	color: red;
}

.module-image {
	margin: auto;
	display: block;
}

.label {
	display: inline-block;
}

.label-pin-left {
	text-align: right;
	position: absolute;
	cursor: default;
}

.label-pin-right {
	text-align: left;
	position: absolute;
	cursor: default;
}

.panel-info {
	padding: 0px;
	border: 0px;
}

.panel-group {
	padding: 0px;
}

.panel-body {
	padding: 0px;
}

.panel-heading {
	cursor: pointer;
	padding: 0.2em;
}

.panel-heading .panel-title {
    color: white;
    border: 1px solid #777;
    border-left: 0;
    border-radius: 5px;
}

.panel-heading .panel-title:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\2212";    /* taken from bootstrap.css */
    float: left;
    width:2em;
    text-align: center;
    color: white;
    border-left: #777 1px solid;
    border-radius: 3px 0 0 3px;
}

.panel-heading .panel-title.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\002b";    /* adjust as needed, taken from bootstrap.css */
}

.panel-heading .panel-title-description:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\2212";    /* taken from bootstrap.css */
    float: left;
}

.panel-heading .panel-title-description.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\002b";    /* adjust as needed, taken from bootstrap.css */
}