.loading {
	background: url(/loading.gif) center no-repeat #fff;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	position: fixed;
	color: darkblue;
	text-align: center;
}

.navbar-center {
	position: absolute;
	float: left;
	width: 100%;
	text-align: center;
}

.pin-name {
	display: inline-block;
	width: 70%;
}

.pin-selector {
	display: inline-block;
	width: 20%;
}

.mode-name {
	display: inline-block;
	width: 50%;
}

.mode-selector {
	display: inline-block;
	float: right;
	width: 40%;
	color: black;
	font-size: 0.6em;
}

.module-image {
	margin: auto;
	display: block;
}

.label {
	display: inline-block;
}

.label-pin-left {
	text-align: right;
	position: absolute;
	cursor: default;
}

.label-pin-right {
	text-align: left;
	position: absolute;
	cursor: default;
}

.panel-heading {
	cursor: pointer;
}

.panel-heading .panel-title {
    color: white;
}

.panel-heading .panel-title:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* taken from bootstrap.css */
    float: left;
    color: white;
}

.panel-heading .panel-title.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-heading .panel-title-description:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\2212";    /* taken from bootstrap.css */
    float: left;
}

.panel-heading .panel-title-description.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\002b";    /* adjust as needed, taken from bootstrap.css */
}