<!DOCTYPE html>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link href="css/bootstrap.min.css" rel="stylesheet" />
	  <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
	  <link href="css/main.css" rel="stylesheet" />
	  <title>MCU setup</title>
	</head>
	
	<body>
	
		<div ng-controller="mcuSetupController" class="container-fluid">
			<div class="row">
				<div class="col-sm-3 panel-group">
					<div class="panel panel-info">
						<div class="panel-heading">Peripherals</div>
						<div class="panel-body" id="peripherals">

							<div ng-repeat="peripheral in cores[0].peripherals" class="panel">

								<div class="panel-heading" style="background: {{peripheral.color}}; cursor: pointer;">
									<h5 class="panel-title collapsed" data-toggle="collapse" href="#collapse{{peripheral.name}}" aria-expanded="false" style="color: white;">
										{{peripheral.name}}
										<span class="glyphicon glyphicon-ok" style="color: white; visibility: {{(peripheral.enabled ? 'visible' : 'hidden')}};"></span>
									</h5>
								</div>
								<div class="panel-collapse collapse" id="collapse{{peripheral.name}}">
									<div>
										{{peripheral.description}}
									</div>
									<button ng-click="peripheral.enabled = ! peripheral.enabled" class="btn btn-default" style="{{(peripheral.name == 'GPIO' ? 'display: none;' : '')}};">
										{{(peripheral.enabled ? "disable" : "enable")}}
									</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col-sm-9" id="module">
				
					<img src="{{modules[0].image}}" width="50%" style="margin: auto; display: block;"></img>
					
					<div ng-repeat="pin in modules[0].pins" class="label-pin-{{pin.side}}" style="top: {{pin.position}}%;">
						<div ng-if="pin.name" class="label" style="display:inline-block; background: {{pin.color}};">
							{{pin.name}}
						</div>
						
						<div ng-if="!pin.name"> 
							<div ng-repeat="peripheral in cores[0].peripherals" style="display:inline-block;">
								<div ng-repeat="(peripinname,peripin) in peripheral.pins">
									<span ng-if="(peripin[0] == pin.number) && (peripheral.enabled)" class="label" style="background: {{peripheral.color}};">
										{{peripinname}}
									</span>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		
		</div>
		
		<script data-main="config" src="lib/require.js"></script>
	
	</body>
</html>

