<div ng-if="active_array">
	<div class="row panel">
		<div class="col-sm-12">
			<label>
				Position.x (% of module image width)
			</label>
			<div class="input-group">
				<span class="input-group-addon btn" ng-click="moveArrayPositionX(-0.1);">&lt;</span>
				<span class="input-group-addon btn" ng-click="moveArrayPositionX(-1);">&lt;&lt;</span>
				<input type="text" class="form-control" ng-model="active_array.position.x" convert-to-number>
				<span class="input-group-addon btn" ng-click="moveArrayPositionX(1);">&gt;&gt;</span>
				<span class="input-group-addon btn" ng-click="moveArrayPositionX(0.1);">&gt;</span>
			</div>
		</div>
		<div class="col-sm-12">
			<label>
				Position.y (% of module image height)
			</label>
			<div class="input-group">
				<span class="input-group-addon btn" ng-click="moveArrayPositionY(-0.1);">&lt;</span>
				<span class="input-group-addon btn" ng-click="moveArrayPositionY(-1);">&lt;&lt;</span>
				<input type="text" class="form-control" ng-model="active_array.position.y" convert-to-number>
				<span class="input-group-addon btn" ng-click="moveArrayPositionY(1);">&gt;&gt;</span>
				<span class="input-group-addon btn" ng-click="moveArrayPositionY(0.1);">&gt;</span>
			</div>
		</div>
		<div class="col-sm-12">
			<label>
				Pitch (% of module image {{(active_array.orientation == 'vertical' ? 'height' : 'width')}})
			</label>
			<div class="input-group">
				<span class="input-group-addon btn" ng-click="moveArrayPitch(-0.1);">&lt;</span>
				<span class="input-group-addon btn" ng-click="moveArrayPitch(-1);">&lt;&lt;</span>
				<input type="text" class="form-control" ng-model="active_array.pitch" convert-to-number>
				<span class="input-group-addon btn" ng-click="moveArrayPitch(1);">&gt;&gt;</span>
				<span class="input-group-addon btn" ng-click="moveArrayPitch(0.1);">&gt;</span>
			</div>
		</div>
		<div ng-if="active_array.orientation == 'vertical'" class="col-sm-12">
			<label>
				Label side
			</label>
			<div class="input-group">
				<span class="input-group-addon btn {{(active_array.side == 'left' ? 'btn-info' : '')}}" ng-click="setArraySide('left');">Left</span>
				<span class="input-group-addon btn {{(active_array.side == 'right' ? 'btn-info' : '')}}" ng-click="setArraySide('right');">Right</span>
			</div>
		</div>
		<div ng-if="active_array.orientation == 'horizontal'" class="col-sm-12">
			<label>
				Label side
			</label>
			<div class="input-group">
				<span class="input-group-addon btn {{(active_array.side == 'top' ? 'btn-info' : '')}}" ng-click="setArraySide('top');">Top</span>
				<span class="input-group-addon btn {{(active_array.side == 'bottom' ? 'btn-info' : '')}}" ng-click="setArraySide('bottom');">Bottom</span>
			</div>
		</div>
		<div class="col-sm-12">
			<div>
				<label>
					Pins
				</label>
			</div>
			<div ng-repeat="pin in active_array.pins.concat('+') track by $index" ng-init="pinIndex = $index" class="btn" style="display: inline-block;">
				<div class="dropdown">
					<button class="btn dropdown-toggle" style="padding: 0; background: none;" data-toggle="dropdown">
						{{($index + 1)}}: {{pin}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li ng-if="pin != '+'"><button ng-click="setPinInArray(pinIndex, null)">REMOVE!</button></li>
						<li ng-repeat="(name, value) in active_module.pins"><button ng-click="setPinInArray(pinIndex, name)">{{name}}</button></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
