<div style="cursor: pointer; border: 1px solid #858; height: 30px; line-height: 29px; vertical-align:center;">
	<div class="panel-title" ng-init="isPinCollapsed = true" ng-click="isPinCollapsed = !isPinCollapsed" data-toggle="collapse" href="#collapsePin">
		<span style="text-align: center; background-color: #858; display: inline-block; width:2.3em; ">
			<span class="glyphicon glyphicon-{{isPinCollapsed ? 'plus' : 'minus'}}" style="color: white;"></span>
		</span>
		<span style="color: #858;">
			Pins
		</span>
	</div>
</div>

<div style="margin-left: 2em; padding:3px;" class="panel-collapse collapse" id="collapsePin">
	<div class="col-sm-12">
		<label>
			Selected pin
		</label>
		<div class="dropdown">
			<button class="btn dropdown-toggle" style="padding: 0; background: none;" data-toggle="dropdown">
				{{(active_pin ? active_pin : "---")}}
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="(name, value) in active_module.pins"><button ng-click="setActiveArrayAndPin(active_array, name)">{{name}}</button></li>
			</ul>
		</div>
	</div>
	<div ng-if="active_pin" class="row panel">
		<div class="col-sm-12">
			<label>
				Pin number on MCU
			</label>
			<div class="input-group">
				<span class="input-group-addon btn" ng-click="setPinNumber(active_module.pins[active_pin].number - 1)">&lt;</span>
				<input type="text" class="form-control" ng-model="active_module.pins[active_pin].number" convert-to-number>
				<span class="input-group-addon btn" ng-click="setPinNumber(active_module.pins[active_pin].number + 1)">&gt;</span>
			</div>
		</div>
		<div class="col-sm-12">
			<label>
				Custom color (leave empty for none)
			</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-model="active_module.pins[active_pin].color">
			</div>
		</div>
		<div class="col-sm-12">
			<label>
				Description (board-related info)
			</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-model="active_module.pins[active_pin].description">
			</div>
		</div>
	</div>
</div>
