<div class="col-sm-3 panel-group pre-scrollable" style="overflow-y: auto; overflow-x: hidden; max-height: 80vh;">
	<div class="panel panel-info">
		<div class="panel-body" id="peripherals">
			<div layout-peripheral ng-repeat="(name, peripheral) in core.peripherals" class="panel" style="margin: 0px;"></div>
		</div>
	</div>
</div>

<div class="col-sm-9" id="module">
	<!-- TODO: Temporarly removed code generation -- ul class="nav nav-pills">
		<li class="{{(active_file ? '' : 'active')}}"><a href="#" ng-click="setActiveFile(null);">Pin layout</a></li>
		<li ng-repeat="file in file_list" class="{{(active_file == file ? 'active' : '')}}"><a href="#" ng-click="setActiveFile(file);">{{file.name}}</a></li>
	</ul>
	
	<div ng-if="active_file">
		<pre style="padding: 0; background: none; border: none;">
			<code class="cpp hljs" ng-bind-html="active_file.code"></code>
		</pre>
	</div -->
	
	<div ng-if="! active_file" style="display: flex; justify-content: center;">
		<div style="position: relative; display: inline-block;">
	
			<img id="module-image" src="{{active_module.image}}" style="height: 80vh;"></img>
			
			<layout-pins></layout-pins>
			
			<div layout-info-popup></div>
			
		</div>
	</div>
</div>
