<div ng-repeat="pin in active_module.pins" class="label-pin-{{pin.side}}" style="top: {{pin.position}}%; left: {{(pin.side == 'left' ? 0 : (100 - ((100 - active_module.width) / 2)))}}%; width: {{((100 - active_module.width) / 2)}}%;">

	<button ng-if="pin.side == 'right'" ng-click="selectPin(pin);" class="badge btn" style="font-size: 1vw; background-color: {{pin.color}};">
		{{pin.name}}
	</button>
	
	<div ng-if="pin.number != null" ng-repeat="(name, peripheral) in core.peripherals" style="display:inline-block;">
		<div ng-repeat="peripinname in peripheral.modes[peripheral.active_mode]">
			<span ng-if="(peripheral.active_pins[peripinname] == pin.number) && (peripheral.active_mode != 'OFF')" class="label" style="font-size: 1vw; background: {{peripheral.color}};">
				{{peripinname}}
			</span>
		</div>
	</div>
	
	<div ng-if="pin.side == 'left'" ng-click="selectPin(pin);" class="badge btn" style="font-size: 1vw; background-color: {{pin.color}};">
			{{pin.name}}
		</div>
	</div>
</div>
