<div class="loading" ng-hide="true">
	<h1 style="margin: 2em;">
		Loading page...
	</h1>
</div>

<nav top-navbar class="navbar navbar-default" style="border-color: #aaa; border-radius: 0px;"></nav>

<div select ng-if="active_page == 'select'" class="row container"></div>

<div layout ng-if="active_page == 'layout'" class="row"></div>

<div editor ng-if="active_page == 'editor'" class="row"></div>

<div about ng-if="active_page == 'about'" class="row container" style="padding: 1em 1em 5em 1em;"></div>

<div usage ng-if="active_page == 'usage'" class="row container" style="padding: 1em 1em 5em 1em;"></div>

<nav bottom-navbar></nav>
