<div style="cursor: pointer; border: 1px solid #588; height: 30px; line-height: 29px; vertical-align:center;">
	<div class="panel-title" ng-init="isArrayCollapsed = true" ng-click="isArrayCollapsed = !isArrayCollapsed" data-toggle="collapse" href="#collapseArray">
		<span style="text-align: center; background-color: #588; display: inline-block; width:2.3em; ">
			<span class="glyphicon glyphicon-{{isArrayCollapsed ? 'plus' : 'minus'}}" style="color: white;"></span>
		</span>
		<span style="color: #588;">
			Package
		</span>
	</div>
</div>

<div style="margin-left: 2em; padding:3px;" class="panel-collapse collapse" id="collapseArray">
	<div class="panel">
		<div class="col-sm-12">
			<div class="input-group">
				<span class="input-group-addon btn btn-info" ng-click="newPackage()">Add new</span>
				<span class="input-group-addon btn btn-danger" ng-click="removePackage()" ng-disabled="active_package == null">Remove current</span>
			</div>
		</div>
	</div>
	<div class="panel">
		<div class="col-sm-12">
			<div>
				<label>
					Package
				</label>
			</div>
			<div class="btn" style="display: inline-block;">
				<div class="dropdown">
					<button class="btn dropdown-toggle" style="padding: 0; background: none;" data-toggle="dropdown">
						{{active_package}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li ng-repeat="(name, pins) in core.packages"><button ng-click="setActivePackage(name)">{{name}}</button></li>
					</ul>
			</div>
			<div>
				<label>
					Selected pin
				</label>
			</div>
			<div class="col-xs-4" ng-if="active_pin != null" ng-repeat="pin in core.pins">
				<span ng-click="setPinTo($index)" class="btn btn-{{($index == core.packages[active_package][active_pin] ? 'info' : 'default')}}">
					{{($index+1)}}: {{pin.name}}
				</span>
				<div class="clearfix visible-xs" ng-if="$index % 3 == 0"></div>
			</div>
		</div>
	</div>
</div>
