<div ng-if="active_package.indexOf('QFN') != -1" ng-init="side_num = (core.packages[active_package].length-1)/4">
	<div style="position: absolute; left: 0; top: 0; width: {{6 + (side_num * 3)}}vw; height: {{6 + (side_num * 3)}}vw; background: black;"></div>
	<div style="position: absolute; left: {{(view_mode == 'top' ? '1' : 4 + (side_num*3))}}vw; top: 1vw; width: 1vw; height: 1vw; background: {{(view_mode == 'top' ? 'grey' : '')}}; border: 2px solid grey; border-radius: 0.5vw;"></div>
	<div ng-repeat="pin in core.packages[active_package] track by $index">
		<div ng-if="$index < side_num" ng-click="setActivePin($index)" class="btn btn-{{(view_mode == 'top' ? 'inverse' : 'default')}}" style="cursor: pointer; position: absolute; left: {{(view_mode == 'top' ? '0' : 3 + (side_num*3))}}vw; top: {{3 + $index*3}}vw; width: 3vw; height: 2vw; {{(view_mode == 'top' ? 'border: 1px dashed lightgrey; color: lightgrey;' : '')}} {{($index == active_pin ? 'font-weight: bold;' : '')}}">
			{{core.pins[pin].name}}
		</div>
		<div ng-if="($index >= side_num) && ($index < (side_num * 2))" ng-click="setActivePin($index)" class="btn btn-{{(view_mode == 'top' ? 'inverse' : 'default')}}" style="cursor: pointer; position: absolute; left: {{(view_mode == 'top' ? 3 + ($index - side_num)*3 : (side_num*3) - ($index - (side_num))*3)}}vw; top: {{3 + side_num*3}}vw; width: 2vw; height: 3vw; {{(view_mode == 'top' ? 'border: 1px dashed lightgrey; color: lightgrey;' : '')}} {{($index == active_pin ? 'font-weight: bold;' : '')}}">
			{{core.pins[pin].name}}
		</div>
		<div ng-if="($index >= (side_num * 2)) && ($index < (side_num * 3))" ng-click="setActivePin($index)" class="btn btn-{{(view_mode == 'top' ? 'inverse' : 'default')}}" style="cursor: pointer; position: absolute; left: {{(view_mode == 'top' ? 3 + (side_num*3) : '0')}}vw; top: {{(side_num*3) - ($index - (side_num * 2))*3}}vw; width: 3vw; height: 2vw; {{(view_mode == 'top' ? 'border: 1px dashed lightgrey; color: lightgrey;' : '')}} {{($index == active_pin ? 'font-weight: bold;' : '')}}">
			{{core.pins[pin].name}}
		</div>
		<div ng-if="($index >= (side_num * 3)) && ($index < (side_num * 4))" ng-click="setActivePin($index)" class="btn btn-{{(view_mode == 'top' ? 'inverse' : 'default')}}" style="cursor: pointer; position: absolute; left: {{(view_mode == 'top' ? (side_num*3) - ($index - (side_num * 3))*3 : 3 + ($index - (side_num * 3))*3)}}vw; top: 0vw; width: 2vw; height: 3vw; {{(view_mode == 'top' ? 'border: 1px dashed lightgrey; color: lightgrey;' : '')}} {{($index == active_pin ? 'font-weight: bold;' : '')}}">
			{{core.pins[pin].name}}
		</div>
		<div ng-if="$index >= (side_num * 4)" ng-click="setActivePin($index)" class="btn btn-{{(view_mode == 'top' ? 'inverse' : 'default')}}" style="cursor: pointer; position: absolute; left: {{side_num/2}}vw; top: {{side_num/2}}vw; width: {{side_num*2.7}}vw; height: {{side_num*2.7}}vw; line-height: {{side_num*2.5}}vw; text-align: center; {{(view_mode == 'top' ? 'border: 1px dashed lightgrey; color: lightgrey;' : '')}} {{($index == active_pin ? 'font-weight: bold;' : '')}}">
			{{core.pins[pin].name}}
		</div>
	</div>
</div>

<div ng-if="active_package.indexOf('QFP') != -1" ng-init="side_num = (core.packages[active_package].length)/4">
	<div style="position: absolute; left: 3vw; top: 3vw; width: {{side_num * 3}}vw; height: {{side_num * 3}}vw; background: black;"></div>
	<div style="position: absolute; left: {{(view_mode == 'top' ? '4' : 1 + (side_num*3))}}vw; top: 4vw; width: 1vw; height: 1vw; background: {{(view_mode == 'top' ? 'grey' : '')}}; border: 2px solid grey; border-radius: 0.5vw;"></div>
	<div ng-repeat="pin in core.packages[active_package] track by $index">
		<div ng-if="$index < side_num" ng-click="setActivePin($index)" class="btn btn-default" style="cursor: pointer; position: absolute; left: {{(view_mode == 'top' ? '0' : 3 + (side_num*3))}}vw; top: {{3 + $index*3}}vw; width: 3vw; height: 2vw; {{($index == active_pin ? 'font-weight: bold;' : '')}}">
			{{core.pins[pin].name}}
		</div>
		<div ng-if="($index >= side_num) && ($index < (side_num * 2))" ng-click="setActivePin($index)" class="btn btn-default" style="cursor: pointer; position: absolute; left: {{(view_mode == 'top' ? 3 + ($index - side_num)*3 : (side_num*3) - ($index - (side_num))*3)}}vw; top: {{3 + side_num*3}}vw; width: 2vw; height: 3vw; {{($index == active_pin ? 'font-weight: bold;' : '')}}">
			{{core.pins[pin].name}}
		</div>
		<div ng-if="($index >= (side_num * 2)) && ($index < (side_num * 3))" ng-click="setActivePin($index)" class="btn btn-default" style="cursor: pointer; position: absolute; left: {{(view_mode == 'top' ? 3 + (side_num*3) : '0')}}vw; top: {{(side_num*3) - ($index - (side_num * 2))*3}}vw; width: 3vw; height: 2vw; {{($index == active_pin ? 'font-weight: bold;' : '')}}">
			{{core.pins[pin].name}}
		</div>
		<div ng-if="$index >= (side_num * 3)" ng-click="setActivePin($index)" class="btn btn-default" style="cursor: pointer; position: absolute; left: {{(view_mode == 'top' ? (side_num*3) - ($index - (side_num * 3))*3 : 3 + ($index - (side_num * 3))*3)}}vw; top: 0vw; width: 2vw; height: 3vw; {{($index == active_pin ? 'font-weight: bold;' : '')}}">
			{{core.pins[pin].name}}
		</div>
	</div>
</div>
