<div ng-if="active_package.indexOf('QFN') != -1" ng-init="side_num = (core.packages[active_package].length-1)/4">
	<div style="position: absolute; left: 2vw; top: 2vw; width: {{side_num * 2}}vw; height: {{side_num * 2}}vw; background: black;"></div>
	<div ng-repeat="pin in core.packages[active_package]">
		<div ng-if="$index < side_num" ng-click="setActivePin($index)" style="cursor: pointer; font-size: 1vw; position: absolute; left: 0; top: {{2 + $index*2}}vw">
			{{pin+1}}
		</div>
		<div ng-if="($index >= side_num) && ($index < (side_num * 2))" ng-click="setActivePin($index)" style="cursor: pointer; font-size: 1vw; position: absolute; left: {{2 + ($index - side_num)*2}}vw; top: {{2 + side_num*2}}vw">
			{{pin+1}}
		</div>
		<div ng-if="($index >= (side_num * 2)) && ($index < (side_num * 3))" ng-click="setActivePin($index)" style="cursor: pointer; font-size: 1vw; position: absolute; left: {{2 + side_num*2}}vw; top: {{(side_num*2) - ($index - (side_num * 2))*2}}vw">
			{{pin+1}}
		</div>
		<div ng-if="($index >= (side_num * 3)) && ($index < (side_num * 4))" ng-click="setActivePin($index)" style="cursor: pointer; font-size: 1vw; position: absolute; left: {{(side_num*2) - ($index - (side_num * 3))*2}}vw; top: 0vw">
			{{pin+1}}
		</div>
		<div ng-if="$index >= (side_num * 4)" ng-click="setActivePin($index)" style="cursor: pointer; font-size: 1vw; position: absolute; left: {{side_num}}vw; top: {{side_num}}vw">
			{{pin+1}}
		</div>
	</div>
</div>
